<div class="row">
  <div class="col-sm-6 jobs_index_middle_panels">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Automobiles</h3>
        <a class="btn btn-primary" (click)="getAuto()">Go >>></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Banking</h3>
        <a class="btn btn-primary" (click)="getBanking()">Go >>></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Information Technology </h3>
        <a class="btn btn-primary" (click)="getIT()">Go >>></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Media</h3>
        <a class="btn btn-primary" (click)="getMedia()">Go >>></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Oil & Gas</h3>
        <a class="btn btn-primary" (click)="getOG()">Go >>></a>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Pharmaceuticals</h3>
        <a class="btn btn-primary" (click)="getPharma()">Go >>></a>
      </div>
    </div>
  </div>
</div>
